<section style="padding:60px;">
<div class='container'>
	<div class='row'><h2 class="display-3">Workbench</h2></div>
	<div class='row'>
	<div class='col-6'>
	<canvas id="draw-canvas-2" class="w-100"></canvas>
	</div>
	<div class="col-6">
		<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Property</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody id='analyse_table'>
    <!--<tr><td scope="row">Exact M.W.</td><td id="exactmw">-</td></tr>
    <tr><td scope="row">CrippenMR</td><td id='CrippenMR'>-</td></tr>
    <tr><td scope="row">CrippenClogP</td><td id='CrippenClogP'>-</td></tr>-->
  </tbody>
</table>
	</div>
</div>
</div></section>