<div class='container'>
	<div class='row'><h2>Workbench</h2></div>
	<div class='row'>
	<div class='col-6'>
	<canvas id="draw-canvas-2" class="w-100"></canvas>
	</div>
	<div class="col-6">
		<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Property</th>
      <th scope="col">Value</th>
      <th scope="col">Reference</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Exact M.W.</td>
      <td id="exactmw">-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>CrippenMR</td>
      <td id='CrippenMR'>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>CrippenClogP</td>
      <td id='CrippenClogP'>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
	</div>
</div>
</div>