<section class="bg-secondary text-light" style="padding:60px;">
    <div class="container">
  <div class="mb-3">
    <h2 class='display-3'>Analyse Compound</h2><small>*Snorts Cocoa Cola*</small>
    <p >Ok so people can’t have opinions, the people on this sub are the reason there are instructions on toothpaste. Everyone here are cancerous sheep who have been mind controlled to upvoting if they see a 69, 420, Instagram Fortnite and TikTok bad Minecraft good. I’m not saying I like any of these more than Minecraft but people are allowed to have opinions. So next time you call someone a normie realize who the real normie is🤡</p>
    <div class='col-12'>
    <form>
    <label for="inputName" class="form-label">Compound Name</label>
    <input type="text" class="form-control" id="inputName" aria-describedby="Compound Name">
  <button type="button" class="btn btn-primary" onclick="get_smiles_from_element_text('inputName')">Get SMILES</button>
    </form>
</div>
<div class='col-12'>
    <form>
    <label for="inputSMILES" class="form-label">Compound SMILES</label>
    <input type="text" class="form-control" id="inputSMILES" aria-describedby="Compound SMILES">
  <button type="button" class="btn btn-primary" onclick="analyse_me_senpai('inputSMILES')">Analyse</button>
    </form></div>



</div></div></section>